THE_API_PSG=https://dev-repositorio-backend.posgradoupea.edu.bo/api/v1
GOOGLE_VISION_API_KEY=
GOOGLE_GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash-latest
BLINKID_LICENSE_ANDROID=sRwCAB1jb20uZXhhbXBsZS5yZWZhY3Rvcl90ZW1wbGF0ZQBsZXlKRGNtVmhkR1ZrVDI0aU9qRTNOamswTXpjMU5EQTBNREVzSWtOeVpXRjBaV1JHYjNJaU9pSmpZMkZoWlRkak5DMHpPV0kzTFRReU16RXRPRGMzT1MxaFpETXhZemc1TkRRMVpUVWlmUT096u/S1sLuxAR0+L+1XmHhWdyoOw/Hf6VVjsAkPcPgPmZjjsmMaMJw5eZ6GfG89FmR5eifNsT0IxEDrWYdFmHb0F998g3KbiTCs4smTLawhvgiLJ0ziEKV3Zmk0gY52Q
BLINKID_LICENSE_IOS=
BLINKID_LICENSEE=
